.svg-active-company-dims {
    width: 18px;
    height: 18px;
}

.svg-active-individual-client-dims {
    width: 14.02px;
    height: 18.01px;
}

.svg-archive-company-dims {
    width: 18px;
    height: 18px;
}

.svg-area-dims {
    width: 14px;
    height: 14px;
}

.svg-binman-dims {
    width: 96.06px;
    height: 22.03px;
}

.svg-card-dims {
    width: 13.02px;
    height: 13.02px;
}

.svg-clients-dims {
    width: 18.12px;
    height: 16px;
}

.svg-container-dims {
    width: 12.02px;
    height: 14.01px;
}

.svg-documents-dims {
    width: 14.01px;
    height: 18.01px;
}

.svg-documents-ok-dims {
    width: 14.01px;
    height: 18.01px;
}

.svg-logo-dims {
    width: 26.17px;
    height: 36.01px;
}

.svg-money-dims {
    width: 12px;
    height: 14px;
}

.svg-no-contacts-dims {
    width: 12.16px;
    height: 12.16px;
}

.svg-not-active-company-dims {
    width: 18px;
    height: 18px;
}

.svg-not-active-individual-client-dims {
    width: 14.02px;
    height: 18.01px;
}

.svg-object-dims {
    width: 12px;
    height: 14px;
}

.svg-recycle-dims {
    width: 14.06px;
    height: 14px;
}

.svg-select-arrow-dims {
    width: 8.08px;
    height: 5.08px;
}