{
    "extends": "stylelint-config-standard",
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "at-rule-no-vendor-prefix": true,
        "color-hex-case": "lower",
        "comment-whitespace-inside": "always",
        "declaration-empty-line-before": null,
        "declaration-block-no-redundant-longhand-properties": null,
        "declaration-block-trailing-semicolon": "always",
        "declaration-colon-space-after": "always",
        "declaration-colon-space-before": "never",
        "declaration-no-important": true,
        "function-url-quotes": "always",
        "indentation": 4,
        "color-hex-length": null,
        "media-feature-colon-space-after": "never",
        "media-feature-colon-space-before": "never",
        "media-feature-name-no-vendor-prefix": true,
        "media-feature-parentheses-space-inside": "never",
        "media-feature-range-operator-space-after": "always",
        "media-feature-range-operator-space-before": "always",
        "no-duplicate-selectors": true,
        "number-leading-zero": "always",
        "property-no-vendor-prefix": true,
        "rule-empty-line-before": "always",
        "selector-attribute-brackets-space-inside": "never",
        "selector-attribute-operator-space-after": "never",
        "selector-attribute-operator-space-before": "never",
        "selector-attribute-quotes": "always",
        "selector-combinator-space-after": "always",
        "selector-no-qualifying-type": true,
        "selector-no-vendor-prefix": true,
        "selector-pseudo-class-parentheses-space-inside": "never",
        "selector-pseudo-element-colon-notation": "double",
        "string-quotes": "single",
        "value-no-vendor-prefix": true,
        "no-eol-whitespace": null,
        "no-descending-specificity": null,
        "no-missing-end-of-source-newline": null,
        "order/order": [
            "custom-properties",
            {
                "type": "at-rule",
                "name": "extend"
            },
            "dollar-variables",
            "declarations",
            "at-rules",
            {
                "type": "at-rule",
                "name": "include",
                "hasBlock": true
            },
            "rules"
        ],
        "order/properties-order": [
            {
                "properties": [
                    "content",
                    "quotes",
                    "list-style",
                    "list-style-type",
                    "list-style-position",
                    "list-style-image",
                    "counter-reset",
                    "counter-increment",
                    "nav-index",
                    "nav-up",
                    "nav-right",
                    "nav-down",
                    "nav-left",
                    "position",
                    "z-index",
                    "top",
                    "bottom",
                    "left",
                    "right",
                    "float",
                    "clear",
                    "flex",
                    "flex-basis",
                    "flex-direction",
                    "flex-flow",
                    "flex-grow",
                    "flex-shrink",
                    "flex-wrap",
                    "justify-content",
                    "justify-items",
                    "justify-self",
                    "align-content",
                    "align-items",
                    "align-self",
                    "order",
                    "grid",
                    "grid-area",
                    "grid-template",
                    "grid-template-areas",
                    "grid-template-rows",
                    "grid-template-columns",
                    "grid-row",
                    "grid-row-start",
                    "grid-row-end",
                    "grid-column",
                    "grid-column-start",
                    "grid-column-end",
                    "grid-auto-rows",
                    "grid-auto-columns",
                    "grid-auto-flow",
                    "grid-gap",
                    "grid-row-gap",
                    "grid-column-gap",
                    "box-sizing",
                    "display",
                    "vertical-align",
                    "width",
                    "min-width",
                    "max-width",
                    "height",
                    "min-height",
                    "max-height",
                    "padding",
                    "padding-top",
                    "padding-bottom",
                    "padding-left",
                    "padding-right",
                    "font",
                    "font-family",
                    "font-size",
                    "line-height",
                    "font-weight",
                    "font-style",
                    "font-variant",
                    "font-size-adjust",
                    "font-stretch",
                    "font-effect",
                    "font-emphasize",
                    "font-emphasize-position",
                    "font-emphasize-style",
                    "-webkit-font-smoothing",
                    "-moz-osx-font-smoothing",
                    "font-smooth",
                    "hyphens",
                    "text-indent",
                    "letter-spacing",
                    "text-decoration",
                    "text-decoration-skip-ink",
                    "text-transform",
                    "text-align",
                    "text-align-last",
                    "text-justify",
                    "text-emphasis",
                    "text-emphasis-color",
                    "text-emphasis-style",
                    "text-emphasis-position",
                    "text-shadow",
                    "text-stroke",
                    "text-outine",
                    "-ms-text-overflow",
                    "text-overflow",
                    "text-overflow-ellipsis",
                    "text-overflow-mode",
                    "text-wrap",
                    "-webkit-text-size-adjust",
                    "-ms-text-size-adjust",
                    "white-space",
                    "word-spacing",
                    "word-break",
                    "word-wrap",
                    "overflow-wrap",
                    "tab-size",
                    "color",
                    "opacity",
                    "border",
                    "border-width",
                    "border-style",
                    "border-color",
                    "border-top",
                    "border-top-width",
                    "border-top-style",
                    "border-top-color",
                    "border-bottom",
                    "border-bottom-width",
                    "border-bottom-style",
                    "border-bottom-color",
                    "border-left",
                    "border-left-width",
                    "border-left-style",
                    "border-left-color",
                    "border-right",
                    "border-right-width",
                    "border-right-style",
                    "border-right-color",
                    "border-radius",
                    "border-top-left-radius",
                    "border-top-right-radius",
                    "border-bottom-right-radius",
                    "border-bottom-left-radius",
                    "border-image",
                    "border-image-source",
                    "border-image-slice",
                    "border-image-width",
                    "border-image-outset",
                    "border-image-repeat",
                    "border-spacing",
                    "border-collapse",
                    "outline",
                    "outline-style",
                    "outline-width",
                    "outline-color",
                    "outline-offset",
                    "stroke",
                    "stroke-dasharray",
                    "stroke-dashoffset",
                    "stroke-linecap",
                    "stroke-linejoin",
                    "stroke-miterlimit",
                    "stroke-opacity",
                    "stroke-width",
                    "background",
                    "background-color",
                    "background-image",
                    "background-repeat",
                    "background-position",
                    "background-position-x",
                    "background-position-y",
                    "background-attachment",
                    "background-size",
                    "background-origin",
                    "background-clip",
                    "background-blend-mode",
                    "isolation",
                    "fill",
                    "fill-opacity",
                    "fill-rule",
                    "mask",
                    "box-shadow",
                    "mix-blend-mode",
                    "-ms-interpolation-mode",
                    "filter",
                    "transform",
                    "transform-origin",
                    "transition",
                    "transition-property",
                    "transition-duration",
                    "transition-delay",
                    "transition-timing-function",
                    "animation",
                    "animation-name",
                    "animation-duration",
                    "animation-delay",
                    "animation-timing-function",
                    "animation-iteration-count",
                    "animation-direction",
                    "animation-play-state",
                    "animation-fill-mode",
                    "margin",
                    "margin-top",
                    "margin-bottom",
                    "margin-left",
                    "margin-right",
                    "cursor",
                    "-ms-touch-action",
                    "touch-action",
                    "user-select",
                    "pointer-events",
                    "visibility",
                    "zoom",
                    "table-layout",
                    "empty-cells",
                    "caption-side",
                    "resize",
                    "overflow",
                    "overflow-x",
                    "overflow-y",
                    "-webkit-overflow-scrolling",
                    "-ms-overflow-x",
                    "-ms-overflow-y",
                    "-ms-overflow-style",
                    "clip"
                ]
            }
        ],
        "at-rule-no-unknown": [true, {
            "ignoreAtRules": ["function", "if", "each", "include", "mixin"]
        }]
    }
}
