block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="Matvey Phoenix" name="author")
    meta(content="" name="description")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    link(rel="icon" type="image/png" href="./assets/images/favicon.png")
    link(rel="apple-touch-icon" href="./assets/images/apple-touch-favicon.png")
    link(rel='stylesheet' href='./assets/styles/main.min.css')

  body
    include ./vars/_vars
    include ./mixins/_mixins
    include ./modules/_svg
    include ./modules/_header

    block content

    include ./modules/_footer

    script(src="./assets/scripts/libs.min.js")
    script(src="./assets/scripts/script.min.js")