-
    var dataItems = [
        {
            className:"type-1",
            iconSvg:"active-company",
            name:"УФССП РОССИИ ПО КЕМЕРОВСКОЙ ОБЛАСТИ",
            inn:"4205077474",
            ogrn:"1044205103832",
            contracts: [
                {number: "№12-СЖ/12 от 24.01.2019", type: "по норме"}
            ],
            objects: [
                {name: "Объект №1"},
                {name: "Объект №2"}
            ],
            money: "3 040",
            recycle: 8,
            zones: 1,
            containers: 6,
            volume: 6.6
        },
        {
            className:"type-2",
            iconSvg:"not-active-company",
            name:"ООО \"СИСТЕМА УНИВЕРСАМОВ \"БЕГЕМОТ\"",
            inn:"4205259611",
            ogrn:"1134205003580",
            contracts: [
                {number: "№12-СЖ/12 от 24.01.2019", type: "по норме"},
                {number: "№12-СЖ/12 от 24.01.2019", type: "по норме"}
            ],
            objects: [
                {name: "Объект №1"},
                {name: "Объект №2"},
                {name: "Объект №3"},
                {name: "Объект №100"},
                {name: "Объект №200"},
                {name: "327 создвать не буду, пусть будет маленькое несоответствие"}
            ],
            money: "238 985.15",
            recycle: 236.52,
            zones: 2,
            containers: 3,
            volume: 10.2
        },
        {
            className:"type-3",
            iconSvg:"archive-company",
            name:"ООО \"САТУРН\"",
            inn:"5404461077",
            ogrn:"1125476079981",
            objects: [
                {name: "Объект №1"},
                {name: "Объект №2"}
            ],
            money: "3 040",
            recycle: 8,
            zones: 1,
            containers: 6,
            volume: 6.6
        },
        {
            className:"type-4",
            iconSvg:"active-individual-client",
            name:"Константинопольский Александр Валентинович",
            pasp: "4200 200793",
            contracts: [
                {number: "№12-СЖ/12 от 24.01.2019", type: "по норме"}
            ],
            objects: [
                {name: "Объект №1"},
                {name: "Объект №2"}
            ],
            money: "1 024",
            recycle: 1,
            zones: 2,
            containers: 3,
            volume: 10.2
        },
        {
            className:"type-5",
            iconSvg:"not-active-individual-client",
            name:"Воронов Александр Ярославович",
            contracts: [
                {number: "№12-СЖ/12 от 24.01.2019", type: "по норме"}
            ],
            objects: [
                {name: "Объект №1"}
            ],
            money: "3 687",
            recycle: 2.56,
            zones: 1,
            containers: 1,
            volume: 0.66
        }
    ]

    var typesClients = [
        {type: "type-1", svgName: "active-company"},
        {type: "type-2", svgName: "not-active-company"},
        {type: "type-3", svgName: "archive-company"},
        {type: "type-4", svgName: "active-individual-client"},
        {type: "type-5", svgName: "not-active-individual-client"}
    ]