header.header
    a(href="/")
        <svg class="svg-logo-dims">
            <use xlink:href="#logo"></use>
        </svg>
        <svg class="svg-binman-dims">
            <use xlink:href="#binman"></use>
        </svg>